
node_modules

.tmp
.sass-cache
app/bower_components/*

!app/bower_components/easyui
__tempfiles


.DS_Store
node_modules
npm-debug.log
*.swp
*.ipr
*.iws
.sw*
*/.idea
.idea/*
*idea/**
idea
*.iml
.buildpath
.project
.settings
Makefile
